<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ layout/basic-layout }">
	
<div layout:fragment="content">
<!-- style part -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<style>
	#writer {
		border: none;
		outline: none;
	}
	
	#heart {
		font-size: 52px;
		color: silver;
	}
	
	#heart:hover {
		color: red;
	}
	
	#heart-full {
		font-size: 52px;
		color: red;
	}
	
	.btnHeart {
		border: none;
		background-color: white;
	}
</style>
<!-- style part end -->

	
	<div style="margin: auto; width: 80%;">
		<h1 style="color:red;">reivew detail page</h1>
		<input type="hidden" id="reviewId" th:value="${ review.id }"/>
		<span id="loginUser" sec:authentication="principal.idName"></span>
		<div style="border-bottom: thin solid silver; padding-bottom: 5px; margin-bottom: 5px;">
			<div>
				<div th:text="${ review.title }" style="font-size: 48px; margin-bottom: 20px; display: inline-block;"></div>
				<div style="display: inline-block;">
					<div th:if="${ heart } == 0">
						<button class="btnHeart" id="heart"><i class="bi bi-hearts"></i></button>
						<button class="btnHeart" id="heart-full" style="display: none;"><i class="bi bi-hearts"></i></button>
					</div>
					<div th:unless="${ heart } == 0">
						<button class="btnHeart" id="heart" style="display: none;"><i class="bi bi-hearts"></i></button>
						<button class="btnHeart" id="heart-full"><i class="bi bi-hearts"></i></button>
					</div>
				</div>
			</div>
			<div style="color: gray; font-size: small;">
				<div th:text="${ '작성자 ' + review.author }" style="display: inline-block;"></div>
				<div style="display: inline-block;"><i class="bi bi-alarm" style="margin: 0 5px;"></i><span th:text="${ #temporals.format(review.createdTime, 'yyyy/MM/dd') }"></span></div>
			</div>
			<div th:text="${ review.score }"></div>
		</div>
		<div th:text="${ review.content }" style="height: 500px; font-size: 18px;"></div>
		<div>
			<div>
				<span style="font-size:15px; margin-right: 10px; color:gray;"><i class="bi bi-eye" style="padding-right: 3px;"></i>1500</span>
				<span style="font-size:15px; margin-right: 10px; color:gray;"><i class="bi bi-hearts" style="padding-right: 3px;"></i><span id="countHeart" th:text="${ reviewDto.heart }"></span></span>
			</div>
		</div>
		<div style="text-align: right;">
			<div th:if="${ #authentication.name } == ${ review.author }">
				<button style="width: 100px; height:35px;">Modify</button>
			</div>
		</div>
		
		<div style="font-size: 18px; font-weight: bold; margin: 10px 0;">댓글 <span style="color: green;" th:text="${ countReply }"></span></div>
		<div id="replies"></div>
	
		<div>
			<input type="hidden" id="writer" th:value="${ #authentication.name }" readonly/>
			<div style="border: thin solid silver;">
				<input id="replyText" type="text" style="width: 93%; height: 25px; font-size: 15px; border: none; padding: 10px; outline: none;" placeholder="댓글을 입력해주세요 :)"/>
				<button id="btnReply" style="border: thin solid silver; background-color: white; padding: 8px; border-radius: 15px; color:gray;">Click</button>
			</div>
		</div>
		
		
	
		<div style="margin-top: 80px;">
			<div>다른 리뷰도 구경하세요,,,!</div>
			<div style="width: 300px; height: 200px; border: 1px solid silver; margin: 10px;"></div>
		</div>
	</div>
	
</div><!-- fragment end -->

<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{ /js/reply.js }"></script>
	<script>
		const reviewIdInput = document.querySelector('#reviewId').value;
		const loginUser = document.querySelector('#loginUser').innerText;
		
		const btnHeartAdd = document.querySelector('#heart');
		const btnHeartDelete = document.querySelector('#heart-full');
		
		const countHeart = document.querySelector('#countHeart').value;
		
		btnHeartAdd.addEventListener('click', () => {
			const reviewId = Number(reviewIdInput);
			
			axios.post('/api/review/heart', null, { params: {reviewId} })
				.then(response => { 
					console.log(response); 
					changeFull();
				})
				.catch(error => { console.log(error); })
		})
		
		function changeFull() {
			btnHeartDelete.style.display = '';
			btnHeartAdd.style.display = 'none';
		}
		
		btnHeartDelete.addEventListener('click', () => {
			const reviewId = Number(reviewIdInput);
			
			axios.post('/api/review/heartDelete', null, { params: {reviewId} })
				.then(response => {
					console.log(response);
					changeHeart();
				})
				.catch(error => { console.log(error); })
		})
		
		function changeHeart() {
			btnHeartDelete.style.display = 'none';
			btnHeartAdd.style.display = '';
		}
		
	</script>
</th:block>

</html>