<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>reivew detail page</h1>

<div>
	<div>review title</div>
	<div>review content</div>
	<div>created time</div>
	<div>writer</div>
	<div>movie image</div>
	<div>watch count</div>
	<div>like count</div>
	<div>score star</div>
</div>

<div>
	<div>reply writer</div>
	<div>reply content</div>
	<button>reply</button>
</div>

<div><!-- 작성자의 다른 글 또는 최근 인기글? 같은 다른 콘텐츠로 넘어갈 수 있도록 -->

</div>

</body>
</html>