<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REVIEW</title>
</head>
<body>
<h1>review main page</h1>

<div><!-- main slide -->
slide!!!!
</div>

<div>search part</div>
<div>
	<input type="text" placeholder="search!!!" />
	<button>search</button>
</div>

<div><!-- review block -->
	<h5>REVIEW LIST</h5>
	<div>
		<div style="width: 400px; height: 300px; border: 1px solid black;"></div>
		<div>review title</div>
		<div>writer</div>
		<div>created time</div>
		<div>watch count</div>
		<div>like count</div>
		<div>reply count</div>
	</div>
</div>

<div><!-- meeting block -->
	<h5>MEETING LIST</h5>
	<div>
		<div style="width: 400px; height: 300px; border: 1px solid black;"></div>
		<div>meeting title</div>
		<div>writer</div>
		<div>created time</div>
		<div>member 5</div>
		<div>d day</div>
	</div>
</div>
</body>
</html>