<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
<h1>로그인 페이지</h1>
<h1>메인으로 가는 로고 추가하기</h1>

<div style="width:450px; height:450px; border:1px solid black;">
	<div style="border:1px solid black;">
		<div>Input Id!!</div>
		<div>Input PW!!</div>
   	</div>
   	<div>
   		<label>v</label>
   		<label>로그인 상태 유지</label>
   	</div>
   	<button>LOGIN!!</button>
   	<ul>
   		<li>비밀번호 찾기</li>
   		<li>아이디 찾기</li>
   		<li>회원가입</li>
   	</ul>	
</div>

</body>
</html>