<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:fragment="header">

<style>
	ul li {
		list-style: none;
		display: inline-block;
		margin: 10px 10px 0 10px;
	}
	
	a {
		font-weight: bold;
		color: black;
		text-decoration: none;
	}
	
	a:hover {
		color: gray;
	}
</style>

<div style="margin:auto; width:80%; height: 50px; border-bottom: thin solid silver; text-align: right;">
	<ul>
		<li><a th:href="@{ /review/main }">MAIN</a></li>
		<th:block sec:authorize="isAnonymous()">
			<li><a th:href="@{ /login }">로그인</a></li>
			<li><a th:href="@{ /join }">회원가입</a></li>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
			<li style="font-weight: bold;"><span sec:authentication="principal.idName"></span><span>님</span></li>
			<li><a th:href="@{ /logout }">로그아웃</a></li>
			<li><a>마이페이지</a></li>
		</th:block>
	</ul>
</div>

</div><!-- fragment end -->

</html>